*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62, 5%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 500px;
  margin: auto;
}

p::first-letter {
  font-size: 110%;
  color: #7e0b0b;
  padding-right: 3px;
}

h1 {
  padding: 20px 10px;
}
.letter {
  margin: 20px 0;
  font-size: 1.5em;
}

.form__input {
  border: 1px solid gray;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  width: 90%;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
